.prediction-bkg{
    background-image: url('./images/PredictionImage.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.history-bkg{
    background-image: url('./images/HistorialImage.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.option-bkg{
    background-image: url('./images/OptionImage.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.tutorial-bkg{
    background-image: url('./images/TutorialImage.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}