.predictionimage{

width: 100%;
height: 100%;


}
.historialimage{

    width: 100%;
    height: 100%;

}
.tutorialimage{

    width: 100%;
    height: 100%;


}
.optionimage{


    width: 100%;
    height: 100%;

}