.massiveprediction-container{

    background-image: url('../images/prediccionmasiva.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    
    }